ascii-magic==2.3.0
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
EbookLib==0.18
fake-useragent==2.1.0
idna==3.10
lxml==5.3.1
pillow==11.1.0
PyYAML==6.0.2
requests==2.32.3
six==1.17.0
soupsieve==2.6
tqdm==4.67.1
typing_extensions==4.13.1
urllib3==2.3.0
